@media (max-width: 500px) {
    :root {
    --minibubble-size:30vw;
    --mainbubble-size:24vh;
    --mainbubble-border:5px;
    --font-size:5vw;
    --margin-main: 50%;
    --margin-left: 10%
    }
}

@media (min-width: 501px) {
    :root {
        --minibubble-size: 20vw;
        --mainbubble-size: 27vw;
        --mainbubble-border: 10px;
        --font-size: 2vw;
        --margin-main: 7%;
        --margin-left: 0;
    }
}

@keyframes mainbubble {

     0% {transform: scale(1.07, 1.07);}
    50% {transform: scale(0.934,0.934);}
    100%{transform: scale(1.07, 1.07);}
}

@keyframes minibubble {

    0% {transform: scale(1.07, 1.07);}
    50% { transform: scale(0.934, 0.934); }
    100% {transform: scale(1.07, 1.07); }
  
}
/* p {
    font-size: var(--font-size);
} */
.Intro {
    top: 0;
    left: 0;
    width: 100vw;
    position: absolute;
    font-size: var(--font-size);
    display:flex;
    flex-direction:row;
    height:94vh;
    align-items: center;
    justify-content:center;
    text-align: center;
}

img {
    width: 100%;
    height: auto;   
}


.circle_border {
    position:absolute;
    overflow: hidden;
    width: var(--mainbubble-size);
    height: var(--mainbubble-size);
    border-radius: 50%;
    border: var(--mainbubble-border) solid #c7f6ff;
    /* linear-gradient(to right, #c6cbf0,  rgb(185, 219, 163)); */
    animation-name: mainbubble;
    animation-duration: 8s;
    animation-iteration-count: infinite;
   
}
.circle_border:hover {
    width: var(--mainbubble-size);
    height: var(--mainbubble-size);
}

.mini_circle_border_resume {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var(--font-size);
    top: 18vh;
    left: 14vw;
    width: var(--minibubble-size);
    height: var(--minibubble-size);
    border-radius: 50%;
    background: #c7f6ff;
    /* linear-gradient(to right, #c6cbf0,  rgb(185, 219, 163)); */
    animation-name: minibubble;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition: background-color 800ms ease-in-out;

}

.mini_circle_border_resume:hover {
    /* border: 3px solid #000000; */
    background-color: #fed4fa;
}

.mini_circle_border_projects {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var(--font-size);
    top:18vh;
    left: 65vw;
    width: var(--minibubble-size);
    height: var(--minibubble-size);
    border-radius: 50%;
    background: #c7f6ff;
    /* linear-gradient(to right, #c6cbf0,  rgb(185, 219, 163)); */
    animation-name: minibubble;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: background-color 800ms ease-in-out;

}

.mini_circle_border_projects:hover {
    /* border: 3px solid #000000; */
    background-color: rgb(254, 144, 119);
}

.mini_circle_border_contact {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var(--font-size);
    top: 60vh;
    left: 65vw;
    width: var(--minibubble-size);
    height: var(--minibubble-size);
    border-radius: 50%;
    background: #c7f6ff;
    /* linear-gradient(to right, #c6cbf0,  rgb(185, 219, 163)); */
    animation-name: minibubble;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    transition: background-color 800ms ease-in-out;

}

.mini_circle_border_contact:hover {
    /* border: 3px solid #000000; */
    background-color: #ccefb6;
   
}

.mini_circle_border_experience{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var(--font-size);
    width: 100%;
    top: 60vh;
    left: 14vw;
    width: var(--minibubble-size);
    height: var(--minibubble-size);
    border-radius: 50%;
    background: #c7f6ff;
    /* linear-gradient(to right, #c6cbf0,  rgb(185, 219, 163)); */
    animation-name: minibubble;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: background-color 800ms ease-in-out;

}

.mini_circle_border_experience:hover {
    /* border: 3px solid #000000; */
    background-color: rgb(201, 203, 255);
}