@media (max-width: 500px) {
    :root {
        --width:90%;
        --height:calc(100vh - 20px);
       
    }
}

@media (min-width: 601px) {
    :root {
      --width:90%;
      --height:calc(100vh - 20px);
    }
}